<!DOCTYPE html>

<html lang="en">

<head>
    <title>My awesome team</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
      
        <Navbar @change-page="changePage"></Navbar>
      
        <div id="page-container">
          <home v-if="currentPage === 'home'"></home>
          <button v-if="currentPage === 'team'" @click="exportTeams">Export</button>
          <form-add-team v-if="currentPage === 'team'" ref="formulaire" @add-team="addTeam"></form-add-team>
          <team-card v-if="currentPage === 'team'"  v-for="team in allTeams" :id="team.id" :name="team.name" :description="team.description" @edit-team="editTeam" ></team-card>
          <form-add-result v-if="currentPage === 'result'" :teams="this.allTeams" @add-result="addResult" ></form-add-result>
          <result-card v-if="currentPage === 'result'"  v-for="result in allResults" :team1="result.team1" :team2="result.team2" :score1="result.score1" :score2="result.score2"></result-card>

        </div>
      </div>
    
    <script src="/src/misc/constante.js"></script>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import NewsCard from '/src/view/news-card.js';
        import Navbar from './src/view/navbar.js';
        import Home from '/src/view/home.js';
        import FormAddTeam from '/src/view/form-add-team.js';
        import FormAddResult from '/src/view/form-add-result.js';
        import TeamCard from '/src/view/team-card.js';
        import ResultCard from '/src/view/result-card.js';

        
        const app = createApp({
            created() {
                document.title = TITLE; 
                
            },
            data() {
                return {
                    allTeams: [],
                    allResults: [],
                    currentPage: 'home',
                }
            },
            methods:{
                addTeam: function(team){
                    console.log('team.addTeam', team);

                    this.allTeams.push(team); 
                },
                editTeam: function(team) {
                    this.$refs.formulaire.editTeam(team)
                },
                exportTeams: function() {
                    console.log(JSON.stringify(this.allTeams));
                },
                changePage(page) {
                    this.currentPage = page;
                },
                addResult: function(result){
                    console.log('WAAAAAAAA', this.allResults);
                    this.allResults.push(result); 
                },
            }
        });

   
        app.component('Navbar', Navbar)
            .component('NewsCard', NewsCard)
            .component('Home', Home)
            .component('FormAddTeam', FormAddTeam)
            .component('FormAddResult', FormAddResult)
            .component('TeamCard', TeamCard)
            .component('ResultCard', ResultCard);
        app.mount('#app');
      </script>
</body>

</html>